body {
    background:#000;
}

div {
	background-color: red;
	width: 20px;
	height: 20px;
	margin: 1px 1px;
	float: left;
	opacity: 1;
}

#grid16 {
	height: 600px;
	width: 800px;
	background-color: white;
	margin: 0 auto;
}